* {
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none !important;
    color: black !important;
}
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}
.sign-up-text{
    color:#be185d;
}

.product-info,
.product-images {
    margin-top: 2rem;
}
.vl {
    border-left: 8px solid #be185d;
    height: 100%;
    // left: 50%;
    margin-left: -3px;
    top: 0;
}
.ppage {
    min-height: 70vh;
}
.main-prod-image {
    width: 100%;
}
.main-image {
    max-height: 5rem;
    max-width: 5rem;
}
.prod-name,
.prod-rate {
    font-weight: bolder !important;
}
.login-page, .sign-up-form-container {
    display: grid;
    gap: 10px;
    grid-template-columns: .25fr 1fr .25fr;
    align-content: center;
    min-height: auto;
}
.navbar-details{
    justify-content: flex-end;
    width: 100%;
    display: flex;
    align-items: center;
    flex-grow: 0;
}
.nav-item-1 {
    margin-right: auto;
}
@media only screen and (min-width: 320px) {
    .login-page-item, .signup-form-element {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .brand-logo{
        grid-column-start: 2;
        grid-column-end: 3;
    }
}
$theme-colors: (
    primary: #be185d,
    secondary: #ef4444,
    grey-1: #e5e7eb,
    grey-2: #f3f4f6,
    dark: #1f2937,
) !default;

@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,300&display=swap");
