* {
	font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none !important;
    color: black !important;
}
$theme-colors: (
    primary: #be185d,
    secondary: #ef4444,
    grey-1: #e5e7eb,
    grey-2: #f3f4f6,
    dark: #1f2937,
) !default;


@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,300&display=swap');

